# IDE
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Scrapy stuff:
.scrapy

# celery beat schedule file
celerybeat-schedule

# Spyder project settings
.spyderproject
.spyproject

# ------ vscode ------ #
.vscode/*
